AFFIDAVIT FOR CHANGE OF NAME

BEFORE THE NOTARY PUBLIC AT {{ place_of_execution }}

I, {{ deponent_old_name }} (Old Name), Son/Daughter of {{ deponent_father_name }}, aged about {{ deponent_age }} years, residing at {{ deponent_address }}, do hereby solemnly affirm and declare as follows:

1. That my birth name is {{ deponent_old_name }}.
2. That I have changed my name to {{ deponent_new_name }} (New Name) for the following reason: {{ reason_for_change }}.
3. That I shall hereinafter be known, called, and addressed by the name {{ deponent_new_name }} for all purposes.
4. That I request all concerned authorities to update their records with my new name.

I state that the contents of this affidavit are true and correct to the best of my knowledge and belief.

DEPONENT
(Signed as {{ deponent_new_name }})
______________________

VERIFICATION

Verified at {{ place_of_execution }} on this {{ verification_date }}, that the contents of the above affidavit are true and correct.

DEPONENT
______________________

Attested by Notary Public