Indian Rental Agreement Format

This Rent agreement is hereby executed at {{ place_of_execution }} on this {{execution_date}} between:

{{owner_name}} son of {{owner_father}} R/o {{ owner_address }} (hereinafter referred to as First party/landlord) this term would include his heirs, successors, legal representatives and assigns etc.

AND

{{tenant_name}} son of {{tenant_father }} , resident of {{tenant_address}} (hereinafter called the tenant/Second party) of the other part, which expression shall mean and include his heirs, successors, legal representatives and assigns etc.

The premise is in the possession of the owner who is the first party with residential House of Flat No. {{premises_address}} and he has agreed to let out the said flat as monthly rent basis to the second party /tenant

NOW THIS AGREEMENT WITNESSETH AS UNDER: –

1. The monthly rental of the agreed premises is agreed and fixed at Rs {{rent_amount}}/-(Rupees) per month which does not include water, electricity and other incidental charges.

2. This rental period is effective from {{start_date}} on the agreed month till 11 months, i.e., up to {{end_date}}

3. The tenant should deposit a sum of Rs. {{security_deposit_amount}}/- (Rupees {{security_amount_words}} only) as the security amount, which will be refunded /adjusted at the time of vacating the said premises.

4. The tenant should use the premise for residential purpose only and not for commercial purpose.

5. The tenant has no rights given to sub-let or art with a certain portion of the premise to any person.

6. In case the tenant fails to pay rent for two months or more, then the land lord can ask the tenant to vacate the premise.

7. The tenant has to pay the electricity bills month on month on his own responsibility and this amount is not included in the monthly rental .

8. The tenant has to maintain the rental premise properly and keep all the fittings and fixtures that the second party shall not damage the fittings and fixtures and maintain them properly. In case there is any damage, he has to bear the repair charges himself.

9. The rented premise should be maintained the way it has been let out to him. He cannot make any construction or alterations to the residential premise without the permission of the landlord.

10. The landlord or any authorized person on his behalf has a right to inspect the rented residential premise any time at a mutually convenient time.

11. In case the tenant decides to vacate the premise upon completion of the tenancy period then both the parties (landlord and tenant) should serve one month's notice to each other.

12. Whatever terms and conditions are mentioned in the rental agreement is abiding to both the parties and these terms and conditions are final. These agreed conditions are final and irrevocable.

This agreement is signed and agreed by both the parties on this day, date, month and year in the presence of witnesses at {{place}}.

WITNESSES: –
1- FIRST PARTY: {{first_witness}}

2- SECOND PARTY: {{second_witness}}