SERVICE AGREEMENT

This Service Agreement is made on this {{ execution_date }} at {{ place_of_execution }}.

BETWEEN:

{{ client_name }}, located at {{ client_address }} (the "Client").

AND

{{ service_provider_name }}, located at {{ service_provider_address }} (the "Service Provider").

1. SERVICES
The Service Provider agrees to perform the following services for the Client:
{{ services_description }}

2. PAYMENT TERMS
The Client agrees to pay the Service Provider according to the following terms:
{{ payment_terms }}

3. WARRANTIES
The Service Provider warrants that the services will be performed in a professional and workmanlike manner.

4. TERMINATION
Either party may terminate this Agreement by providing {{ termination_notice_days }} days' written notice to the other party.

5. LIMITATION OF LIABILITY
Neither party shall be liable for indirect or consequential damages arising out of this Agreement.

CLIENT
______________________
Name: {{ client_name }}

SERVICE PROVIDER
______________________
Name: {{ service_provider_name }}